/*Pseudo Class(:)*/

.div1{
	width: 300px;
	height: 100px;
	background-color: green;
	color: #fff;
}

/*.div1:first-child{
	background-color: orange;
	color: blue;
}*/

/*.div1:last-child{
	background-color: orange;
	color: blue;
}*/

/*.div1:first-of-type{
	background-color: orange;
}*/

/*.div1:last-of-type{
	background-color: blue;
}*/

/*.div1:nth-child(4){
	background-color: skyblue;
}*/

/*.div1:nth-of-type(4){
	background-color: skyblue;
}*/

/*.div1:nth-of-type(odd){
	background-color: dimgray;
}*/

/*.div1:nth-of-type(even){
	background-color: brown;
}*/

/*ordinal number
1st
2nd
3rd
4th
5.............nth*/


